/* card style */
.card{
    background-color:rgba(200, 200, 200, 0.418);
    border: 3px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
}
/* card image style */
.card img{
    height:150px;
    width:250px;
}
/* card button style */
.card button{
    height:30px;
    width:70px;
    margin-bottom:10px;
    color:rgb(255, 210, 210);
    background-color: rgba(255, 42, 42, 0.89);
    border:2px solid red;
    border-radius: 5px;
}